/* Убираем отступы у html и body */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* Меняем блочную модель, чтобы padding не увеличивал размеры элементов */
*, *::before, *::after {
  box-sizing: border-box;
}

/* Убираем стандартные отступы у заголовков и параграфов, если нужно */
h1, h2, h3, p {
  margin-top: 0;
}